name: CICD
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: Ubuntu-20.04
    GITHUB_CONTEXT: ${{ toJson(github) }}

    steps:
      - name: Cloning repository
        uses: actions/checkout@v2
        
      - name: test
        id: build-image
        run: echo "test ..."

  
  deploy:
    needs: build
    runs-on: Ubuntu-20.04

    steps:
      - run: echo  "job 2"
      - run: echo "${process}"
      env:
        process: ${{ toJson(process) }}

