name: CICD
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: Ubuntu-20.04
    env:
      APP_ENV: test
    outputs:
      calver: ${{ steps.build-image.outputs.cal }}
      version: ${{ steps.build-image.outputs.ver }}
      app_env: ${{ env.APP_ENV }}

    steps:
      - name: Cloning repository
        uses: actions/checkout@v2
        
      - name: test
        id: build-image
        run: |
          echo "test ..."
          echo "::set-output name=cal::$(date +'%Y.%m.%d.%H%M')"
          echo "::set-output name=ver::v1.0"

      - name: ssh-key
        run: |
          mkdir ~/.ssh
          echo "${SSH_KEY}" > ~/.ssh/id_rsa && chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com > ~/.ssh/known_hosts
        env:
          SSH_KEY: ${{ secrects.SSH_KEY }}
      
      - name: test keys
        run: |
          cat ~/.ssh/id_rsa
          git clone git@github.com:opositatest/aula-api.git

  
  deploy:
    needs: build
    runs-on: Ubuntu-20.04
    env:
          cal: ${{ needs.build.outputs.calver }}
          ver: ${{ needs.build.outputs.version }}
          APP_ENV: ${{ needs.build.outputs.app_env }}
    steps:
      - run: |
          echo "$ver $cal $APP_ENV"

