name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: |
          echo "Running test ..."
          echo "Finish test"
          echo ${CHECK_MASTER}

      - name: Test2
        run: echo "More test"

      - name: Building image
        if: github.ref == 'refs/heads/main'
        run: echo "Finish building"

      - name: Upload image
        if: github.ref == 'refs/heads/main'
        run: echo "Uploading ..."
      
      - name: Get title pull request
        run: curl -s "https://api.github.com/repos/arivasloureiro/cicd/pulls/${my_var}" | jq -r '.title'
        env:
          my_var: ${{github.event.number}}
      
      - name: get commit message
        if: github.ref == 'refs/heads/main' && github.event.pull_request.merged == true
        run: |
            echo $(git log --format=%B -n 1 ${{ github.event.after }})
            echo ${{ github.event.after }}