name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: get commit message
        run: |
        my_print()\{
          echo $1
        \}

          v1="true"
          if [[ $v1 == "true" ]];then
            my_print ddddd
          else
            echo "No es true"
          fi