name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: |
          echo "Running test ..."
          echo "Finish test"
          echo ${CHECK_MASTER}

      - name: Test2
        run: echo "More test"

      - name: Building image
        if: github.ref == 'refs/heads/main'
        run: echo "Finish building"

      - name: Upload image
        if: github.ref == 'refs/heads/main'
        run: echo "Uploading ..."
      
      - name: Test
        run: echo ${my_var}
        env:
          my_var: ${{github.event.pr}}