name: CICD
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: Ubuntu-20.04
    env:
      APP_ENV: test
    outputs:
      calver: ${{ steps.build-image.outputs.cal }}
      version: ${{ steps.build-image.outputs.ver }}

    steps:
      - name: Cloning repository
        uses: actions/checkout@v2
        id: build-image

      - name: test
        run: |
          echo "test ..."
          echo "::set-output name=cal::$(date +'%Y.%m.%d.%H%M')"
          echo "::set-output name=ver::v1.0"


  
  deploy:
    needs: build
    runs-on: Ubuntu-20.04
    steps:
      - run: |
          echo "$ver $cal $APP_ENV"
        env:
          cal: ${{ needs.build.outputs.calver }}
          ver: ${{ needs.build.outputs.version }}
          APP_ENV: ${{ needs.build.env.APP_ENV }}

