name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: |
          echo "Running test ..."
          echo "Finish test"
          echo ${CHECK_MASTER}

      - name: If contains
        if: "contains(github.event.head_commit.message, 'Merge pull request #')"
        run: echo ${{ github.event.head_commit.message }}


      - name: Merge !!
        run: |
            echo "Merge !!!"
            echo ${{ github.event.pull_request.merged }}
            echo ${{ github.event.pull_request.head.ref }}


      - name: Test2
        run: echo "More test"

      - name: Building image
        if: github.ref == 'refs/heads/main'
        run: echo "Finish building"

      - name: Upload image
        if: github.ref == 'refs/heads/main'
        run: | 
          echo "Uploading ..."
          echo github.event.pull_request.merged
      
      - name: get commit message
        if: github.event.pull_request.merged == true
        run: |
            echo $(git log --format=%B -n 1 ${{ github.event.after }})
            echo ${{ github.event.after }}