name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CHECK_MASTER: ${{ github.ref == 'refs/heads/master' }}

    steps:
      - uses: actions/checkout@v2

      - name: Test
        run: |
          echo "Running test ..."
          echo "Finish test"

      - name: Test2
        run: echo "More test"

      - name: Building image
        if: ${{ env.CHECK_MASTER }} == 'true'
        run: echo "Finish building"

      - name: Upload image
        if: ${{ env.CHECK_MASTER }} == 'true'
        run: echo "Uploading ..."